{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="p-5 bg-primary text-white rounded d-flex justify-content-center flex-column align-items-center">
  <h1>Smart-delievry</h1>
  {{form_start(form)}}
  {{form_widget(form)}}
  {{form_end(form)}}
  {% if error is defined %}
    <div class="alert alert-danger alert-dismissible fade show mt-5">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Erreur!</strong> Ce numéro de suivi n'éxiste pas.
    </div>
  {% endif %}
</div>
{% endblock %}
