{% extends 'base.html.twig' %}

{% block title %}Suivi de colis{% endblock %}

{% block body %}
<div class="d-flex justify-content-center flex-column align-items-center">
    <h1>{% block h1 %}Ajouter une localisation au colis {{ trackingNumber }}{% endblock %}</h1>
</div>
{% endblock %}
