{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div {{vue_component('packagelist')}}></div>
<div {{vue_component('relayCenterList')}}></div>
<a href={{path('app_dashboard_add_relay_center')}} class="btn btn-primary">Ajouter un centre relais</a>
{% endblock %}
