{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center flex-column">
    <h1>Profil<h1>
    <div {{ vue_component('UserData') }}></div>

    <h2>Préférences</h2>
    <p>Point de relais par défaut</p>
    {% if user.relayCenter == null %}
        <a href="/profil/ajout/centre-par-defaut" class="btn btn-primary">Ajouter un point relais par défaut</a>
        {% else %}
        <a href="/profil/modification/centre-par-defaut" class="btn btn-primary">Modifier votre point relais par défaut</a>
    {% endif %}

</div>
{% endblock %}
